@import "fonts.css";

/*html, body {
  font-family: "Roboto", "Noto", sans-serif;
}*/

/*#rulesInput {
  font-family: "Roboto Mono";
}*/

/* PrettyPrinter */
  
  /* NormalForm */
  
    .grammatic-rule-set {
      /*font-family: "Roboto Mono";*/
      font-family: "Consolas";
    }

    .grammatic-rule {
      display: block;
    }
  
  
  /* CYK */
  
    .CYK-pyramid {
      text-align: center;
    }
    
    .CYK-pyramid-level {
      
    }
    
    .CYK-cell {
      display: inline-block;

      margin: 3px;

      width: 50px;
    }
    
    .CYK-pyramid-cell {
      border: solid black 1px;
    }
    
    .CYK-word-cell {
      border: solid grey 1px;
    }
  
